<%layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Cafe</h1>
    <div class="col-6 offset-3">
        <form action="/cafes/<%=cafe._id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="cafe[title]" value="<%=cafe.title%>" required>
                <div class="valid-feedback">
                    good find!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="cafe[location]" value="<%=cafe.location%>" required>
                <div class="valid-feedback">
                    good find!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="cafe[image]" value="<%=cafe.image%>" required>
                <div class="valid-feedback">
                    great visuals!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Cafe Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" name="cafe[price]" value="<%=cafe.price%>" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
                </div>
                <div class="valid-feedback">
                    kachinggg$
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="cafe[description]" required><%=cafe.description%></textarea>
                <div class="valid-feedback">
                    very informative!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Cafe</button>
            </div>
        </form>
        <a href="/cafes/<%=cafe._id%>">Back to Cafe</a>
    </div>
</div>